body {
    background: #eee;
           position: relative;
        height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.swiper-slide 
{    
    height: auto;
}   


#footer {
    text-align: right;
    width: 100%;
}
