body {
    background: #eee;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.swiper-slide {
   height: 100%;
   overflow: auto;
}

#footer {
    text-align: right;
    width: 100%;
}
