<section>
    <div class="ui fixed inverted main menu">
        <div class="container">

            <div class="right menu">
                <div class="ui language dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item" data-percent="100" data-value="en">Option</div>
                        <div class="item" data-percent="100" data-value="da">About</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- List all novels -->
    <span data-bind="text: id"></span>

    <!-- List all novels -->
    <ul data-bind="foreach: list">
        <li>
            <a data-bind="attr:{href: '#reader/' + $index() }, text: $data.title" />
        </li>
    </ul>   

</section>