<article id='list'>
    <div class="ui large  fixed inverted main menu">
        <div class="container">
            <div class="right menu">
                <div class="ui dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item">Lexique</div>
                        <div class="item">Effacer l'histoire</div>
                        <div class="item">Paramètres</div>
                        <div class="item">Aide et Commentaires</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui internally  center aligned page grid">
        <div class="row">
            <div class="three wide column" />
            <div class="ten wide column">
                <div class="fluid ui primary button" data-bind="click: onClick">
                    List Novels
                </div>
                <br />
                <div class="fluid  ui primary button" data-bind="click: onClick">
                    Options
                </div>
                <br /><br />
                <div class="fluid ui primary button" data-bind="click: onClickDebug">
                    Debug Reader
                </div>
                <br /><br />
                <div class="fluid  ui primary button">
                    <a href="#reader/1/1">Debug Novels</a>
                </div>
                <br /><br />
                <div class="fluid  ui primary button">
                    <a href="http://semantic-ui.com/">Semantic UI</a>
                </div>
                <br /><br />
                <div class="fluid  ui primary button">
                    <a href="http://getbootstrap.com/">Bootstrap UI</a>
                </div>
                <br /><br />
                <div class="fluid  ui primary button">
                    <a href="http://www.idangero.us/framework7/kitchen-sink/">Framework 7</a>
                </div>


                
                

                
              </div>
            <div class="three wide column" />
        </div>
    </div>
 </article>


