<article id='list'>
    <div class="ui large  fixed inverted main menu">
        <div class="container">
            <div class="right menu">
                <div class="ui dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item">Lexique</div>
                        <div class="item">Effacer l'histoire</div>
                        <div class="item">Paramètres</div>
                        <div class="item">Aide et Commentaires</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui grid">
            <div class="column">
                <div id="wrap">
                    <div class="box">
                        <div class="innerContent" data-bind="click: onClick">
                            <p>Baka-tsuki</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="innerContent" data-bind="click: onClickDebug">
                            <p>Debug reader</p>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>           <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <a href="#reader/1/1">Debug Novels</a>
</article>
