<article id='list'>
    <div class="ui fixed inverted main menu">
        <div class="container">

            <div class="right menu">
                <div class="ui language dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item" data-percent="100" data-value="en">Option</div>
                        <div class="item" data-percent="100" data-value="da">About</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="column">
            <div class="ui segment">
                <h1 class="ui center aligned icon header"> baka-tsuki</h1>
                <div class="ui divider" />
                <img class="ui centered small image" src="https://pbs.twimg.com/profile_images/1502528663/logo_400x400.gif">
                <p>Baka-Tsuki (BT) is a fan translation community that hosts translations for light novels in the Wiki format. </p>
            </div>
            <div class="ui big celled selection list" data-bind="foreach: list">
                <div class="item" data-bind="click :function(){ $parent.onNovelSelected( $parent, $data);}">

                    <div class="content">
                        <div class="header"><p data-bind="text: $data.title" /></div>
                        last update : never
                    </div>
                </div>
            </div>
        </div>       
    </div>
</article>