<!--
    <a href="#reader/1">Debug Novels</a>

    -->
<article id='list'>
    <section>
        <ul class='list' data-bind="foreach: list"><!--, click: onClick-->
            <li class='comp' data-goto data-bind="click :function(){ $parent.onNovelSelected( $parent, $data);}">
                <div>
                    <p data-bind="text: $data.title" />
                </div>
                <aside>
                    <span class='nav'></span>
                </aside>
            </li>
        </ul>
    </section>
</article>