<article id='list'>
    <div class="ui fixed inverted main menu">
        <div class="container">

            <div class="right menu">
                <div class="ui language dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item" data-percent="100" data-value="en">Option</div>
                        <div class="item" data-percent="100" data-value="da">About</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui big celled selection list" data-bind="foreach: list">
            <div class="item" data-goto data-bind="click :function(){ $parent.onNovelSelected( $parent, $data);}">

                <div class="content">
                    <div class="header"><p data-bind="text: $data.title" /></div>
                    last update : never
                </div>
            </div>
        </div>
    </div>   
</article>