<article id='reader'>

    <div class="ui fixed inverted main menu">
        <div class="container">

            <div class="right menu">
                <div class="ui language dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item" data-percent="100" data-value="en">Option</div>
                        <div class="item" data-percent="100" data-value="da">About</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <tapdetector>
            <div class="swiper-container">
                <div class=" swiper-wrapper" data-bind="foreach: pages">
                    <div class="swiper-slide">
                        <span data-bind="html: $data" />
                        <div id="footer" data-bind="text: $index" />
                    </div>
                </div>
            </div>
        </tapdetector>
    </section>
</article>
