<article id='reader'>

    <div class="ui fixed inverted main menu">
        <div class="container">

            <div class="right menu">
                <div class="ui language dropdown item" id="menu" data-content="Main Menu">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item" data-percent="100" data-value="en">Option</div>
                        <div class="item" data-percent="100" data-value="da">About</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
                <tapdetector>
                <div class="swiper-container">
                    <div class=" swiper-wrapper" data-bind="foreach: pages">                        
                        <div class="swiper-slide">
                            <swiper-content>
                                <span data-bind="html: $data.content" />
                            </swiper-content>     
                            <swiper-foot data-bind="visible: $data.visible">
                                <span data-bind="text: $data.index" />
                            </swiper-foot>            
                        </div>
                    </div>
                </div>
            </tapdetector>
   
</article>
